numpy>=1.23.1
torch>=1.12.1 --extra-index-url https://download.pytorch.org/whl/cu117 ; sys_platform == 'win32'
torch>=1.12.1; sys_platform != 'win32'
torchvision>=0.13.1
safetensors>=0.3.0
pytorch-lightning==1.7.7
omegaconf==2.1.1
einops>=0.3.0
transformers==4.19.2
open-clip-torch>=2.7.0
kornia>=0.6
invisible-watermark>=0.1.5
k-diffusion>=0.0.14
fastapi>=0.89.1
uvicorn>=0.20.0

-e .
